<hr>
<div class="md-support" align="center">
	<p class="md-support-content">
		<font size="2">
		If you <b>find</b> this plugin <b>helpful</b>, please consider <b>supporting</b> it by leaving a <b>5-star review</b> on the <b>Asset Store</b>. Your <b>positive feedback</b> allows me to <b>dedicate more time</b> to its development. 
		<br>Thank you so much! 🥰
		</font>
	</p>
	<a href="https://assetstore.unity.com/packages/slug/276632"><img width= '23%' height='23%' src="/Attachments/unity-asset-store.png" title="Leave a 5-star review"/></a>
</div>