<hr>
<div class="cl-support">
	<p class="cl-support-content">
		In case you <b>find</b> this plugin more <b>useful</b> than its <b>price</b>, especially when it's <b>on sale</b> and you want to <b>support</b> me, currently, there are two ways to do so:

		<p class="cl-support-content">
			1. Leave a <b>5-star review</b> on the <a href="https://assetstore.unity.com/packages/slug/276632?aid=1011l3HCkp&pubref=official-website">Unity Asset Store</a>.
			<br>2. Buy me <b>a coffee</b> at <a href="https://ko-fi.com/carlos_ai">Ko-fi</a>. 
			<br>&nbsp;&nbsp;&nbsp;
			Donation <b>Benefits</b>: You'll receive a special role on my Discord server exclusively for donors:
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			• <b style="color:#2ecc71">Supporter</b>: One-time donation.
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			• <b style="color:#9b59b6">Backer</b>: Monthly donation.
		</p>
		
		<p class="cl-support-content">
		Thank you so much for your support! 🥰 
		<br>It <b>allows</b> me to <b>dedicate more time</b> to developing this plugin.
		</p>
	</p>
</div>